<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forget Passwrod | MERAMANN</title>
</head>
<body>
    <div class="main_box">
        <input type="checkbox" id="check" />
        <div class="btn_one">
          <label for="check">
            <i class="fa-solid fa-bars"></i>
          </label>
        </div>
  
        <div class="sidebar_menu">
          <div class="logo">
            <a href="#">MERAMANN</a>
          </div>
  
          <div class="btn_two">
            <label for="check">
              <i class="fa-solid fa-xmark"></i>
            </label>
          </div>
  
          <div class="menu">
            <ul>
              <li class="fixed-li">
                <i class="fa-solid fa-image"></i>
                <a href="/users">USERS</a>
              </li>
              <li>
                <i class="fa-solid fa-arrow-up-right-from-square"></i>
                <a href="/shortcuts">SHORTCUTS</a>
              </li>
              <li>
                <i class="fa-solid fa-photo-film"></i>
                <a href="/search">SEARCH</a>
              </li>
              <li>
                <i class="fa-regular fa-heart"></i>
                <a href="/liked">LIKED</a>
              </li>
              <li>
                <i class="fa-solid fa-phone"></i>
                <a href="/profile">PROFILE</a>
              </li>
              <li >
                <form action="/login"><i class="fa-solid fa-user-plus"></i><button class="libtn">Sign-In</button></form>
              </li>
            </ul>
          </div>
  
          <div class="social_media">
            <ul>
              <a href="#"><i class="fa-brands fa-facebook"></i></i></a>
              <a href="#"><i class="fa-brands fa-twitter"></i></a>
              <a href="#"><i class="fa-brands fa-instagram"></i></i></a>
              <a href="#"><i class="fa-brands fa-youtube"></i></a>
            </ul>
          </div>
        </div>
      </div>
    <h1>
    Forget your password ?</h1>
    <h2>Then You cannot open the website you have to create another account on this website 😊</h2>
    <a href="/">Click me if you are gay and go to home page</a>
</body>
</html>