<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forget Passwrod | MERAMANN</title>
</head>
<body>
    <h1>
    Forget your password ?</h1>
    <h2>Then You cannot open the website you have to create another account on this website 😊</h2>
    <a href="/">Click me if you are gay</a>
</body>
</html>