<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New POst | MERAMANN</title>
</head>
<body>
    <form action="/contents" method="post">
        <input type="text" name="contents" placeholder="Write your Mann and Post it.">
        <button type="submit" class="btn btn-outline-light ">CREATE POST</button>
    </form><hr>
    <form action="/users"><button>Home</button></form>
</body>
</html>