<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Here</title>
</head>
<body>
    <form action="/posts" method="post">
        <input type="text" name="username" placeholder="Search Here">
        <button>Search</button>
    </form>
    <form action="/users">
        <button>Home</button>
    </form>
</body>
</html>